<!DOCTYPE html>
<!-- 
    Auteurs  : Bastien Schneider, Louis Saulnier, Joao Arariba
    Projet  : Reshoes project
    Date    : 05.09.2022
 -->
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Re:shoes
        <%
        if(marque){
            %>
            <%="- " + marque %>
                <%
        }
        %>
    </title>
</head>

<body>
    <header>
        <div class="topBar"></div>
        <h1><a href="/">Re:Shoe</a></h1>
        <% if(user) {%>
            <nav>
                <p><strong>Hello, <%= user.username %></strong></p>
                <a href="/logout">Log out</a>
            </nav>
            <% } else {%>
                <nav>
                    <a id="login" href="/page-login">Login</a>
                    <a id="register" href="/page-register">Enregistrer</a>
                </nav>
                <% } %>
                    <nav>
                        <ul>
                            <li><a href="/page-jordan">Jordan</a></li>
                            <li><a href="/page-yeezy">Yeezy</a></li>
                            <li><a href="/page-newBalance">New Balance</a></li>
                            <li><a href="/page-Nike">Nike</a></li>
                            <li><a href="/page-luxe">Luxe</a></li>
                        </ul>
                    </nav>
    </header>