<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Re:Shoe</title>
</head>
<body>
    <!-- Header -->
    <%- include('includes/header.ejs')%>
    <main>
        <ul>
            <!-- JORDAN -->
            <li>
                <h2>Jordan</h2>
                <ul>
                    <li>
                        <img src="img/Jordan/Jordan_1_Chicago.png" alt="Jordan_1_Chicago">
                        <h3>Jordan 1 Retro</h3>
                        <p>Chicago (2015 )</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Jordan/Jordan_6_DMP.png" alt="Jordan_6_DMP">
                        <h3>Jordan 6 Retro</h3>
                        <p>DMP (2020)</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Jordan/Jordan_4_OffWhite.png" alt="Jordan_4_OffWhite">
                        <h3>Jordan 4 Retro</h3>
                        <p>Off-White Sail (W)</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="../public/img/Jordan/Joran_1_Retro_High_Zoom_White_Racer_Blue.png" alt="Joran_1_Retro_High_Zoom_White_Racer_Blue">
                        <h3>Jordan 1 Retro</h3>
                        <p>Zoom White Racer Blue</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="../public/img/Jordan/Jordan_6_Infrared.png" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                </ul>
            </li>
            <!-- Yeezy -->
            <li>
                <h2>Yeezy</h2>
                <ul>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                </ul>
            </li>
            <!-- New Balance -->
            <li>
                <h2>New Balance</h2>
                <ul>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                </ul>
            </li>
            <!-- Nike -->
            <li>
                <h2>Nike</h2>
                <ul>
                    <li>
                        <img src="img/Nike/Nike_Air_Force_1.png" alt="Air Force 1 White">
                        <h3>Nike Air Force 1</h3>
                        <p>White</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Nike/Nike_Air_Force_1_Low_Off-White_University_Blue.png" alt="Air Force 1 Off-White">
                        <h3>Nike Air Force 1 </h3>
                        <p>Off-White University Blue</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Nike/Nike_Air_Max_1-97_Sean_Wotherspoon.png" alt="Air Max 1/97">
                        <h3>Nike Air Max 1/97</h3>
                        <p>Sean Wotherspoon</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Nike/Nike_Air_Max_95_Dark_Beetroot.png" alt="Air Max 95">
                        <h3>Nike Air Max 95</h3>
                        <p>Dark Beetroot</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Nike/Nike_Dunk_Low_Panda.jpg" alt="Dunk Low Panda">
                        <h3>Nike Dunk Low</h3>
                        <p>Panda (2021)</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="img/Nike/Nike_Patta_Wave_Blue.png" alt="Patta Wave Blue">
                        <h3>Nike Patta</h3>
                        <p>Wave Blue</p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                </ul>
            </li>
            <!-- Luxe -->
            <li>
                <h2>Luxe</h2>
                <ul>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                    <li>
                        <img src="" alt="">
                        <h3></h3>
                        <p></p>
                        <h4></h4>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
    <!-- Footer -->
    <%- include('includes/footer.ejs')%>
    <script src=""></script>
</body>
</html>