<!-- Header -->
<%- include('includes/header.ejs')%>
    <main>
        <ul>
            <!-- JORDAN -->
            <li>
                <h2>Jordan</h2>
                <ul>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Joran_1_Retro_High_Zoom_White_Racer_Blue.png"
                                alt="Joran 1 Retro High Zoom White Racer Blue">
                            <h3>Jordan 1 Retro</h3>
                            <p>Zoom White Racer Blue</p>
                            <h4>260 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Jordan_1_Chicago.png" alt="Jordan 1 Chicago">
                            <h3>Jordan 1 Retro</h3>
                            <p>Chicago (2015 )</p>
                            <h4>480 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Jordan_1_Tan_Gum.png" alt="Jordan 1 Tan Gum">
                            <h3>Jordan 1 Mid</h3>
                            <p>Tan Gum</p>
                            <h4>170 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Jordan_1_University_Blue.png" alt="Jordan 1 University Blue">
                            <h3>Jordan 1 Retro</h3>
                            <p>University Blue</p>
                            <h4>360 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Jordan_4_Metallic_Purple.png" alt="Jordan 4 Metallic Purple">
                            <h3>Jordan 4 Retro</h3>
                            <p>Mettalic Purple</p>
                            <h4>560 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Jordan_4_OffWhite.png" alt="Jordan 4 OffWhite">
                            <h3>Jordan 4 Retro</h3>
                            <p>Off-White Sail (W)</p>
                            <h4>1000 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Jordan/Jordan_4_Retro_White_Oreo.png" alt="Jordan 4 Retro White Oreo">
                            <h3>Jordan 4 Retro</h3>
                            <p>White Oreo (2021)</p>
                            <h4>430 CHF</h4>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Yeezy -->
            <li>
                <h2>Yeezy</h2>
                <ul>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_350_V2_Citrin.png" alt="Yeezy 350 V2 Citrin">
                            <h3>Yeezy 350 V2</h3>
                            <p>Citrin (Non-Reflective)</p>
                            <h4>260 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_350_V2_Cloud_White.png" alt="Yeezy 350 V2 Cloud White">
                            <h3>Yeezy 350 V2</h3>
                            <p>Cloud White (Reflective)</p>
                            <h4>333 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_380_Alien_Blue.png" alt="Yeezy 380 Alien Blue">
                            <h3>Yeezy 380</h3>
                            <p>Alien Blue</p>
                            <h4>191 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_380_Calcite_Glow.png" alt="Yeezy 380 Calcite Glow">
                            <h3>Yeezy 380</h3>
                            <p>Calcite Glow</p>
                            <h4>212 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_450_Cloud_White.png" alt="Yeezy 450 Cloud White">
                            <h3>Yeezy 450</h3>
                            <p>Cloud White</p>
                            <h4>203 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_500_Ash_Grey.png" alt="Yeezy 500 Ash Grey">
                            <h3>Yeezy 500</h3>
                            <p>Ash Grey</p>
                            <h4>218 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Yeezy/Yeezy_700_Enflame_Amber.png" alt="Yeezy 700 Enflame Amber">
                            <h3>Yeezy 700</h3>
                            <p>Enflame Amber</p>
                            <h4>261 CHF</h4>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- New Balance -->
            <li>
                <h2>New Balance</h2>
                <ul>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_2002R_Navy_Silver_Metallic.png"
                                alt="NB 2002R Navy Silver Metallic">
                            <h3>NB 2002R</h3>
                            <p>Navy Silver Metallic</p>
                            <h4>173 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_2002R_Protection_Pack_Rain_Cloud.png"
                                alt="NB 2002R Protection Pack Rain Cloud">
                            <h3>NB 2002R</h3>
                            <p>Protection Rain Cloud</p>
                            <h4>215 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_530_White_Nightwatch_Green.png"
                                alt="NB 530 White Nightwatch Green">
                            <h3>NB 530</h3>
                            <p>White Nightwatch Green</p>
                            <h4>89 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_530_White_Silver_Navy.png" alt="NB 530 White Silver Navy">
                            <h3>NB 530</h3>
                            <p>White Silver Navy</p>
                            <h4>77 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_550_White_Grey.png" alt="NB 550 White Grey">
                            <h3>NB 550</h3>
                            <p>White Grey</p>
                            <h4>114 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_550_White_Red.png" alt="NB 550 White Red">
                            <h3>NB 550</h3>
                            <p>White Red</p>
                            <h4>109 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/New_Balance/NB_9060_Sea_Salt.png" alt="NB 9060 Sea Salt">
                            <h3>NB 9060</h3>
                            <p>Sea Salt</p>
                            <h4>186 CHF</h4>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Nike -->
            <li>
                <h2>Nike</h2>
                <ul>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Air_Force_1.png" alt="Air Force 1 White">
                            <h3>Nike Air Force 1</h3>
                            <p>White</p>
                            <h4>94 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Air_Force_1_Low_Off-White_University_Blue.png"
                                alt="Air Force 1 Off-White">
                            <h3>Nike Air Force 1 </h3>
                            <p>Off-White University Blue</p>
                            <h4>1801 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Air_Max_1-97_Sean_Wotherspoon.png" alt="Air Max 1/97">
                            <h3>Nike Air Max 97</h3>
                            <p>Sean Wotherspoon</p>
                            <h4>887 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Air_Max_95_Dark_Beetroot.png" alt="Air Max 95">
                            <h3>Nike Air Max 95</h3>
                            <p>Dark Beetroot</p>
                            <h4>161 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Dunk_Low_Panda.jpg" alt="Dunk Low Panda">
                            <h3>Nike Dunk Low</h3>
                            <p>Panda (2021)</p>
                            <h4>173 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Patta_Wave_Aqua.png" alt="Patta Wave Aqua">
                            <h3>Nike Patta</h3>
                            <p>Wave Aqua</p>
                            <h4>193 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Nike/Nike_Sacai_Blue_Multi.png" alt="Sacai Blue Multi">
                            <h3>Nike LD Waffle</h3>
                            <p>Sacai Blue Multi</p>
                            <h4>387 CHF</h4>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Luxe -->
            <li>
                <h2>Luxe</h2>
                <ul>
                    <li>
                        <a href="">
                            <img src="img/Luxe/Balenciaga_Speed_Trainer.png" alt="Speed Trainer">
                            <h3>Balenciaga Speed Trainer</h3>
                            <p>Black White</p>
                            <h4>563 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Luxe/Balenciaga_Track_Black.png" alt="Track Black">
                            <h3>Balenciaga Track</h3>
                            <p>Black</p>
                            <h4>745 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Luxe/Balenciaga_Triple_S_White_Black_Red.png" alt="Triple S White Black Red">
                            <h3>Balenciaga Triple S</h3>
                            <p>White Black Red</p>
                            <h4>739 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Luxe/Dior_B23_High_Top.png" alt="B23 High Top">
                            <h3>Dior B23 High Top</h3>
                            <p>Logo Oblique</p>
                            <h4>905 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Luxe/LV_Trainer_Black_Grey.png" alt="Trainer Black Grey">
                            <h3>Louis Vuitton Trainer</h3>
                            <p>Black Grey</p>
                            <h4>6052 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Luxe/LV_Trainer_Violet_Mesh.png" alt="Trainer Violet Mesh">
                            <h3>Louis Vuitton Trainer</h3>
                            <p>Violet Mesh</p>
                            <h4>2074 CHF</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/Luxe/LV_Trainer_White_Blue.png" alt="Trainer White Blue">
                            <h3>Louis Vuitton Trainer</h3>
                            <p>White Blue</p>
                            <h4>1064 CHF</h4>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
    <!-- Footer -->
    <%- include('includes/footer.ejs')%>