    <!-- Header -->
    <%-include('includes/header.ejs')%>
    <main>
    <img src="img/Logo/Logo_Nike.png" alt="logo">
    <ul>
        <li>
            <a href="/airForce1White">
                <img src="img/Nike/Nike_Air_Force_1.png" alt="Air Force 1 White">
                <h3>Nike Air Force 1</h3>
                <p>White</p>
                <h4>94 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/airForce1UniversityBlue">
                <img src="img/Nike/Nike_Air_Force_1_Low_Off-White_University_Blue.png"
                    alt="Air Force 1 Off-White">
                <h3>Nike Air Force 1 </h3>
                <p>Off-White University Blue</p>
                <h4>1801 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/airMax97SeanWotherspoon">
                <img src="img/Nike/Nike_Air_Max_1-97_Sean_Wotherspoon.png" alt="Air Max 1/97">
                <h3>Nike Air Max 97</h3>
                <p>Sean Wotherspoon</p>
                <h4>887 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/airMax95DrakBeetroot">
                <img src="img/Nike/Nike_Air_Max_95_Dark_Beetroot.png" alt="Air Max 95">
                <h3>Nike Air Max 95</h3>
                <p>Dark Beetroot</p>
                <h4>161 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/dunkLowPanda">
                <img src="img/Nike/Nike_Dunk_Low_Panda.jpg" alt="Dunk Low Panda">
                <h3>Nike Dunk Low</h3>
                <p>Panda (2021)</p>
                <h4>173 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/pattaWaveAqua">
                <img src="img/Nike/Nike_Patta_Wave_Aqua.png" alt="Patta Wave Aqua">
                <h3>Nike Patta</h3>
                <p>Wave Aqua</p>
                <h4>193 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/sacaiBlueMulti">
                <img src="img/Nike/Nike_Sacai_Blue_Multi.png" alt="Sacai Blue Multi">
                <h3>Nike LD Waffle</h3>
                <p>Sacai Blue Multi</p>
                <h4>387 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/sacaiSummitWhite">
                <img src="img/Nike/Nike_Sacai_Summit_White.png" alt="Sacai Summit White">
                <h3>Nike LD Waffle</h3>
                <p>Sacai Summit White</p>
                <h4>427 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/dunkLowB&J">
                <img src="img/Nike/Nike_SB_Dunk_Low_Ben_&_Jerry's.png" alt="Dunk Low Ben & Jerrys">
                <h3>Nike Dunk Low</h3>
                <p>Ben & Jerry's</p>
                <h4>1240 CHF</h4>
            </a>
        </li>
    </ul>
    </main>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>
</body>
</html>