<!-- Header -->
<%-include('includes/header.ejs')%>

    <main>
        <img src="img/Logo/Logo_Jordan.png" alt="logo">
        <ul>
            <li>
                    <img src="img/Jordan/Jordan_6_Infrared.png" alt="Jordan 6 Infrared">
                    <h3>Jordan 6 Retro</h3>
                    <p>Infrared</p>
                    <h4>315 CHF</h4>
                    <select name="taille" id="taille">
                        <option value="1">US M 8.5</option>
                        <option value="2">US M 9</option>
                        <option value="3">US M 9.5</option>
                        <option value="4">US M 10</option>
                        <option value="5">US M 10.5</option>
                        <option value="6">US M 11</option>
                        <option value="7">US M 11.5</option>
                        <option value="8">US M 12</option>
                    </select>
            </li>
        </ul>
    </main>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>