<!-- Header -->
<%-include('includes/header.ejs')%>

    <head>
        <link rel="stylesheet" href="./css/marque.css">
    </head>

    <main>
        <div>
            <select id="filtre">
                <option selected disabled>------- select -------</option>
                <option value="1">Prix croissant</option>
                <option value="2">Prix décroissant</option>
            </select>
        </div>
        <h1 id="logo">Luxe</h1>
        <ul>
            <li id="shoes1" class="shoes">
                <a href="/luxe/1">
                    <img src="img/Luxe/Balenciaga_Speed_Trainer_Black_White.png" alt="Speed Trainer">
                    <h3>Balenciaga Speed Trainer</h3>
                    <p>Black White</p>
                    <h4>563 CHF</h4>
                </a>
            </li>
            <li id="shoes2" class="shoes">
                <a href="/luxe/2">
                    <img src="img/Luxe/Balenciaga_Track_Black.png" alt="Track Black">
                    <h3>Balenciaga Track</h3>
                    <p>Black</p>
                    <h4>745 CHF</h4>
                </a>
            </li>
            <li id="shoes3" class="shoes">
                <a href="/luxe/3">
                    <img src="img/Luxe/Balenciaga_Triple_S_White_Black_Red.png" alt="Triple S White Black Red">
                    <h3>Balenciaga Triple S</h3>
                    <p>White Black Red</p>
                    <h4>739 CHF</h4>
                </a>
            </li>
            <li id="shoes4" class="shoes">
                <a href="/luxe/4">
                    <img src="img/Luxe/Dior_B23_High_Top_Logo_Oblique.png" alt="B23 High Top">
                    <h3>Dior B23 High Top</h3>
                    <p>Logo Oblique</p>
                    <h4>905 CHF</h4>
                </a>
            </li>
            <li id="shoes5" class="shoes">
                <a href="/luxe/5">
                    <img src="img/Luxe/LV_Trainer_Black_Grey.png" alt="Trainer Black Grey">
                    <h3>Louis Vuitton Trainer</h3>
                    <p>Black Grey</p>
                    <h4>6052 CHF</h4>
                </a>
            </li>
            <li id="shoes6" class="shoes">
                <a href="/luxe/6">
                    <img src="img/Luxe/LV_Trainer_Violet_Mesh.png" alt="Trainer Violet Mesh">
                    <h3>Louis Vuitton Trainer</h3>
                    <p>Violet Mesh</p>
                    <h4>2074 CHF</h4>
                </a>
            </li>
            <li id="shoes7" class="shoes">
                <a href="/luxe/7">
                    <img src="img/Luxe/LV_Trainer_White_Blue.png" alt="Trainer White Blue">
                    <h3>Louis Vuitton Trainer</h3>
                    <p>White Blue</p>
                    <h4>1064 CHF</h4>
                </a>
            </li>
        </ul>
    </main>
    <script src="JS/filtre.js">
    </script>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>
        </body>

        </html>