<!-- Header -->
<%-include('includes/header.ejs')%>

    <head>
        <link rel="stylesheet" href="./css/marque.css">
    </head>

    <main>
        <img src="img/Logo/Logo_Jordan.png" alt="logo" id="logo">
        <ul>
            <li>
                <a href="/jordan/1">
                    <img src="img/Jordan/Jordan_1_Retro_High_Zoom_White_Racer_Blue.png" alt="Jordan 1 Retro High Zoom White Racer Blue">
                    <h3>Jordan 1 Retro</h3>
                    <p>Zoom White Racer Blue</p>
                    <h4>260 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/2">
                    <img src="img/Jordan/Jordan_1_Retro_Chicago.png" alt="Jordan 1 Chicago">
                    <h3>Jordan 1 Retro</h3>
                    <p>Chicago (2015)</p>
                    <h4>480 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/3">
                    <img src="img/Jordan/Jordan_1_Mid_Tan_Gum.png" alt="Jordan 1 Tan Gum">
                    <h3>Jordan 1 Mid</h3>
                    <p>Tan Gum</p>
                    <h4>170 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/4">
                    <img src="img/Jordan/Jordan_1_Retro_University_Blue.png" alt="Jordan 1 University Blue">
                    <h3>Jordan 1 Retro</h3>
                    <p>University Blue</p>
                    <h4>360 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/5">
                    <img src="img/Jordan/Jordan_4_Retro_Metallic_Purple.png" alt="Jordan 4 Metallic Purple">
                    <h3>Jordan 4 Retro</h3>
                    <p>Mettalic Purple</p>
                    <h4>560 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/6">
                    <img src="img/Jordan/Jordan_4_Retro_OffWhite.png" alt="Jordan 4 OffWhite">
                    <h3>Jordan 4 Retro</h3>
                    <p>Off-White Sail (W)</p>
                    <h4>1000 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/7">
                    <img src="img/Jordan/Jordan_4_Retro_White_Oreo.png" alt="Jordan 4 Retro White Oreo">
                    <h3>Jordan 4 Retro</h3>
                    <p>White Oreo (2021)</p>
                    <h4>430 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/8">
                    <img src="img/Jordan/Jordan_6_Retro_DMP.png" alt="Jordan 6 DMP">
                    <h3>Jordan 6 Retro</h3>
                    <p>DMP</p>
                    <h4>231 CHF</h4>
                </a>
            </li>
            <li>
                <a href="/jordan/9">
                    <img src="img/Jordan/Jordan_6_Retro_Infrared.png" alt="Jordan 6 Infrared">
                    <h3>Jordan 6 Retro</h3>
                    <p>Infrared</p>
                    <h4>315 CHF</h4>
                </a>
            </li>
        </ul>
    </main>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>