    <!-- Header -->
    <%-include('includes/header.ejs')%>

    <head>
        <link rel="stylesheet" href="./register.css">
    </head>
    <main>
        <h2>Enregistrer</h2>
        <form method="post" action="/login">
            <ul>
                <li>
                    <label for="userame">Username ou email</label>
                    <input type="text" name="username" id="username">
                </li>

                <li>
                    <label for="fname">Prénom</label>
                    <input type="text" name="fname" id="fname">
                </li>

                <li>
                    <label for="lname">Nom</label>
                    <input type="text" name="lname" id="lname">
                </li>

                <li>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </li>

                <li>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
                </li>
                <li>
                    <button type="submit">Login</button>
                </li>
            </ul>
        </form>
    </main>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>
</body>
</html>