    <!-- Header -->
    <%-include('includes/header.ejs')%>

    <head>
        <link rel="stylesheet" href="./marque.css">
    </head>

    <main>
    <img src="img/Logo/Logo_New_Balance.png" alt="logo">
    <ul>
        <li>
            <a href="/nb2002rNavySilverMetallic">
                <img src="img/New_Balance/NB_2002R_Navy_Silver_Metallic.png"
                    alt="NB 2002R Navy Silver Metallic">
                <h3>NB 2002R</h3>
                <p>Navy Silver Metallic</p>
                <h4>173 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb2002rRainCloud">
                <img src="img/New_Balance/NB_2002R_Protection_Pack_Rain_Cloud.png"
                    alt="NB 2002R Protection Pack Rain Cloud">
                <h3>NB 2002R</h3>
                <p>Protection Rain Cloud</p>
                <h4>215 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb530WhiteNightwatchGreen">
                <img src="img/New_Balance/NB_530_White_Nightwatch_Green.png"
                    alt="NB 530 White Nightwatch Green">
                <h3>NB 530</h3>
                <p>White Nightwatch Green</p>
                <h4>89 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb530WhiteSilverNavy">
                <img src="img/New_Balance/NB_530_White_Silver_Navy.png" alt="NB 530 White Silver Navy">
                <h3>NB 530</h3>
                <p>White Silver Navy</p>
                <h4>77 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb550WhiteGrey">
                <img src="img/New_Balance/NB_550_White_Grey.png" alt="NB 550 White Grey">
                <h3>NB 550</h3>
                <p>White Grey</p>
                <h4>114 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb550WhiteRed">
                <img src="img/New_Balance/NB_550_White_Red.png" alt="NB 550 White Red">
                <h3>NB 550</h3>
                <p>White Red</p>
                <h4>109 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb9060SeaSalt">
                <img src="img/New_Balance/NB_9060_Sea_Salt.png" alt="NB 9060 Sea Salt">
                <h3>NB 9060</h3>
                <p>Sea Salt</p>
                <h4>186 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb990v3SantisMoonbeam">
                <img src="img/New_Balance/NB_990v3_Santis_Moonbeam.png" alt="NB 990v3 Santis Moonbeam">
                <h3>NB 990v3</h3>
                <p>Santis Moonbeam</p>
                <h4>231 CHF</h4>
            </a>
        </li>
        <li>
            <a href="/nb990v3TeddySantisSeaSalt">
                <img src="img/New_Balance/NB_990v3_Teddy_Santis_Sea_Salt.png" alt="NB 990v3 Teddy Santis Sea Salt">
                <h3>NB 990v3</h3>
                <p>Teddy Santis Sea Salt</p>
                <h4>207CHF</h4>
            </a>
        </li>
    </ul>
    </main>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>
</body>
</html>