li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

label {
    margin-bottom: .5em;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

button {
    margin: auto;
    padding: 1em 2em 1em 2em;
    background-color: #fff;
    border: none;
}

nav * {
    display: none;
}

h1 {
    text-align: center;
    margin: 1em;
}

form {
    background-color: rgb(95, 100, 107);
    border-radius: 15px;
    padding: 30px;
}

#login {
    display: none;
}

input[type="text"],
input[type="password"] {
    border-radius: 10px;
    padding: 1.5em;
    border: black solid 2px;
}

button {
    font-size: 1.5rem;
    padding: 1em 2em 1em 2em;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}