ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

label {
    margin-bottom: .5em;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
}

button {
    font-size: 1.5rem;
    padding: 1em 2em 1em 2em;

    background-color: #fff;
    border: none;
    border-radius: 10px;
}

li:last-child{
    flex-basis: 100%;
}

nav * {
  display: none;  
}

h1 {
    text-align: center;
    margin: 1em;
}

form {
    background-color: rgb(95, 100, 107);
    border-radius: 20px;
    width: 40%;
}

input {
    padding: .5em;
}

#register {
    display: none;
}
input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 10px;
    padding: 1.5em;
    border: black solid 2px;
}