html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    max-width: 100vw;
    min-width: 99.5vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    margin-bottom: 75px;
}

h1,
header nav:first-child {
    flex-basis: 40%;
}

header nav:first-child {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav>a {
    margin: 1em;
}

h1 {
    margin: 1%;
}

header>h1>a {
    font-size: 3rem;
}

header nav:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid black 3px;
    width: 85%;
    align-self: center;
    justify-self: center;
    /* margin: auto; */
    margin: auto;
    font-weight: bolder;
}

header nav ul li {
    list-style: none;
    padding-bottom: 3%;
}

header nav a {
    font-size: 1.5rem;
    transition: all 0.75s;
}

header nav a:hover {
    font-size: 1.75rem;
    transition: all 0.75s;
}

header nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

main {
    width: 80%;
    margin: auto;
}

main hr {
    margin-top: 75px;
}

main ul ul li {
    margin: 2.5%;
}

main ul ul,
main ul ul li,
main h2,
main h3,
main p,
main select,
main #button {
    width: 100%;
}

main h2 {
    color: #434343;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.6rem;
}

main h3 {
    font-size: 2.5rem;
    margin-bottom: -1.5%;
}

main p {
    color: #848484;
    font-size: 1.5rem;
}

main select,
main #button {
    height: 5vh;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 300;
    font-size: 1.75rem;
}

main #lia {
    width: 100%;
    background-color: black;
    border-radius: 5px;
    height: 5vh;
    display: flex;
    padding: 3.5%;
}

main #button {
    color: white;
    text-align: center;
}

main ul {
    width: 100%;
}

main ul>li {
    list-style: none;
    width: 26%;
}

main>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

main>#suggest li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 2%;
    border: 2px solid #A9A9A9;
    padding: 1%;
    border-radius: 10px;
    width: 12%;
    height: 275px;
    transition: all 0.75s;
}

main>#suggest li:hover {
    width: 13%;
    height: 300px;
    transition: all 0.75s;
}

main>#suggest li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#suggest img {
    align-self: center;
    width: 3.75vw;
    transition: all 0.75s;
    margin-bottom: 10%;
}

main>#suggest li>a>h3 {
    font-size: 1.4rem;
}

main>#suggest li>a>h4 {
    font-size: 1.65rem;
}

main>#suggest li>a>p {
    font-size: 1rem;
    color: #646464;
}

main>#suggest li>a>h3 {
    margin-top: 3%;
    text-align: center;
}

main>#suggest li>a>h4,
main>#suggest li>a>p {
    text-align: center;
    margin-top: 7%;
}

.topBar {
    width: 100%;
    height: 3vh;
    background-color: black;
    padding: 0;
    margin: 0;
}

.bottomBar {
    width: 100%;
    height: 10%;
    background-color: black;
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 1%;
}

footer {
    margin-top: 3%;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}