body{
    height: 100vh;
    width: 100vw;
}

main>ul{
    display: flex;
    flex-direction: column;
}

main>ul>li{
    display: flex;
    flex-direction: column;
}

main>ul>li>ul{
    display: flex;
    flex-direction: row;
}

main>ul>li>ul>li{
    display: flex;
    flex-direction: column;
}