

body{
    height: 100vh;
    width: 99vw;
    margin: 0;
    padding: 0;
}

main>ul{
    display: flex;
    flex-direction: column;
}

main>ul>li{
    display: flex;
    flex-direction: column;
}

main>ul>li>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main>ul>li>ul>li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

img{
    align-self: center;
    width: 4.2vw;
}

main>ul>li>ul>li>h3,
main>ul>li>ul>li>h4,
main>ul>li>ul>li>p {
    text-align: left;
}

    a {
    text-decoration: none;
    color: black;
}

.topBar{
    width: 100%;
    height: 10vh;
    background-color: black;
    padding: 0;
    margin: 0;
}