html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 99vw;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1, header > a {
    flex-basis: 45%;
}

#login {
    text-align: right;
    font-size: 1.5em;
    margin: 5px;
    
}

header>h1>a {
    font-size: 3rem;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid black 3px;
    width: 85%;
    align-self: center;
    justify-self: center;
    /* margin: auto; */
}

header nav ul li{
    list-style: none;
}

header nav a{
    font-size: 1.5rem;
}

header nav ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

main>ul{
    display: flex;
    flex-direction: column;
}

main>ul>li{
    display: flex;
    flex-direction: column;
}

main>ul>li>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main>ul>li>ul>li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

img{
    align-self: center;
    width: 4.2vw;
}

main>ul>li>ul>li>h3,
main>ul>li>ul>li>h4,
main>ul>li>ul>li>p {
    text-align: left;
}

    a {
    text-decoration: none;
    color: black;
}

.topBar{
    width: 100%;
    height: 3vh;
    background-color: black;
    padding: 0;
    margin: 0;
}
.bottomBar{
    width: 100%;
    height: 10%;
    background-color: black;
    padding: 0;
    margin: 0;
}
footer {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}