

body{
    height: 100vh;
    width: 99vw;
}

main>ul{
    display: flex;
    flex-direction: column;
}

main>ul>li{
    display: flex;
    flex-direction: column;
}

main>ul>li>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main>ul>li>ul>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

img{
    align-self: center;
    width: 4.2vw;
}

main>ul>li>ul>li>h3,
main>ul>li>ul>li>h4,
main>ul>li>ul>li>p {
    text-align: left;
}