html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main img {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    width: 99.5vw;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#login {
    text-align: right;
    font-size: 1.5em;
    margin: 5px;
}

h1,
h2 {
    margin: 1%;
}

header>h1>a {
    font-size: 3rem;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid black 3px;
    width: 85%;
    align-self: center;
    justify-self: center;
    /* margin: auto; */
    margin: auto;
    font-weight: bolder;
}

header nav ul li {
    list-style: none;
    padding-bottom: 3%;
}

header nav a {
    font-size: 1.5rem;
    transition: all 0.75s;
}

header nav a:hover {
    font-size: 1.75rem;
    transition: all 0.75s;
}

header nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

main>ul {
    display: flex;
    flex-direction: column;
}

main>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main>ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 2%;
    border: 2px solid #A9A9A9;
    padding: 1%;
    border-radius: 10px;
    width: 10%;
    min-height: 14vh;
    max-height: 22vh;
}

main>ul>li>ul li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10%;
}

img {
    align-self: center;
    width: 4.2vw;
}

main>ul li>a>h3,
main>ul li>a>h4 {
    font-size: 1.6rem;
}

main>ul li>a>p {
    font-size: 1.1rem;
    color: #646464;
}

main>ul li>a>h3,
main>ul li>a>h4,
main>ul li>a>p {
    text-align: left;
    margin-top: 12%;
}

a {
    text-decoration: none;
    color: black;
}

.topBar {
    width: 100%;
    height: 3vh;
    background-color: black;
    padding: 0;
    margin: 0;
}

.bottomBar {
    width: 100%;
    height: 10%;
    background-color: black;
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 1%;
}

footer {
    margin-top: 3%;
    font-size: 1.5rem;
}